<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <include uri="file://C:\Mewa\config\connection.config" />
    <components>
      <component id="CachedElementsConnectionStringConfig" service="Mewa.Cache.Infrastructure.NHibernate.ICachedElementsConnectionStringConfig, Mewa.Cache.Infrastructure" type="Mewa.Cache.Infrastructure.NHibernate.CachedElementsConnectionStringConfig, Mewa.Cache.Infrastructure">
        <parameters>
          <connectionString>#{cachedElementsConnectionString}</connectionString>
        </parameters>
      </component>
    </components>
  </castle>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>